<form action="/users/new" method="POST">
  <label>
    Name:
    <input name="name" />
  </label>

  <label>
    Email:
    <input name="email" />
  </label>

  <label>
    Password:
    <input name="password" />
  </label>

   <label>
    Location:
    <input name="location" />
  </label>

   <label>
    Favorite Artist:
    <input name="favorite artist" />
  </label>

  <button>Submit</button>
</form>
