<form action="/users" method="POST">
  <label>
    Name:
    <input name="name" />
  </label><br>

  <label>
    Email:
    <input name="email" />
  </label><br>

  <label>
    Password:
    <input name="password" type="password"/>
  </label><br>

   <label>
    Location:
    <input name="location" />
   </label><br>

   <label>
    Favorite Artist:
    <input name="favorite artist" />
   </label><br>

  <button>Submit</button>
</form>
