<h1>Welcome to Hot Trackz!</h1>

<hr>

<h2>Today's Hottest Trackz:</h2>

<ul>

<% @tracks.each do |track| %>

  <div>
    <h3>Title: <%= track.title %></h3>
    <a href="/users/<%= @id %>/tracks/new"><button>Make Trackz</button></a>
  </div>  
  

<% end %>

</ul>