<h1>Welcome to Hot Trackz!</h1>

<hr>

<h2>Today's Hottest Trackz:</h2>

<ul>

<% @tracks.each do |track| %>

  <div>
    <h3>Title: <%= track.title %></h3>
    <form method="POST" action="/users/<%= @id %>/tracks/<%= track.id %>"><button type="submit">Make Trackz</button></a>
    </form>
  </div>  

<% end %>

</ul>